*{
	padding: 0;
	margin: 0;
}

/* Global Container */

.global-container{
	width: 100%;
	height: 100vh;
	background-color: #343d48;
}

/* Score */

.score{
	font-family: "PT Sans";
	font-size: 24px;
	color: #b0e0e6;
	border: 2px solid #b0e0e6;
	min-width: 140px;
	height: auto;
	position: absolute;
	padding: 7px 30px;
	border-radius: 5px;
	left: 80%;
	top: 20px;
}

.p-score{
	float: left;
	text-transform: uppercase;
}

.div-score{
	float: left;
	margin-left: 10px;
}

/* Bombs */

@keyframes bomb-animation {
    0% {width: 0; height: 0; left: 0; top: 0; opacity:1;}
    80% {opacity:1;}
    100% {width: 100px; height: 100px; left: -50px; top: -50px; 
    			opacity:0;}
}

.bomb{
	width: 100px;
	opacity:1;
	height: 100px;
	border-radius: 50px;
	background-color: #9eecd8;
	position: absolute;
	animation-name: bomb-animation;
  animation-duration: 2s;
}

/* Plus Score */

.scorePlus{
	background-color: transperant;
	position: absolute;
	width: 150px;
	height: 300px;
	margin-left: 82%;
	margin-top: 85px;
}

.pScorePlus{
	color: #9eecd8;
	font-family: "PT Sans";
	font-size: 30px;
	animation-name: p-scorePlus-animation;
  animation-duration: 0.6s;
}

@keyframes p-scorePlus-animation{
    0% {margin-top: 70px; opacity:0;}
    30% {opacity:0.2;}
    70% {opacity:1;}
    90% {opacity:0;}
    100% {margin-top: 0px; font-size: 40px; opacity:0;}
}

/*Start Game*/

.blackScreen{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #000;
	z-index: 1;
	opacity: 0.7;
	animation-duration: 4s;
}

#StartBomb{
	position: absolute;
	z-index: 2;
	border-radius: 600px;
	opacity:1;
	background-color: #9eecd8;
    opacity:1; 
  	width: 600px; 
  	height: 600px; 
  	margin-top: -300px;
  	left: -300px;
  	margin-left: 50%;
  	top: 50%;
	animation-name: startBomb-animation;
  animation-duration: 4s;
}

@keyframes startBomb-animation{
    0% {
			margin-left: 50%;
    	left: 0;
			opacity: 0;
			width: 0px; 
    	height: 0px; 
    }
    30% {
    	opacity:1; 
    	width: 300px; 
    	height: 300px; 
    	margin-top: -150px;
    	left: -150px;
    	margin-left: 50%;
    	background-color: #006ca9;
    	top: 0;
    }

    60% {
    	opacity:1; 
    	width: 500px; 
    	height: 500px; 
    	margin-top: -250px;
    	top: 50vh;
    	left: -250px;
    	margin-left: 50%;
    	background-color: #9eecd8;
    }

    100%{
    	opacity:1; 
    	width: 600px; 
    	height: 600px; 
    	margin-top: -300px;
    	left: -300px;
    	margin-left: 50%;
    	background-color: #9eecd8;
    	top: 50%;
    }
}

@keyframes startBomb-close-animation{
	0%{
		opacity: 1;
		background-color: #9eecd8;
		color: black;
	}
	50%{
		opacity: 0;
		background-color: transperent;
		color: transperent;
	}

	100%{
	opacity: 0;
	background-color: transperent;
	color: transperent;
	}
}

.start-wrapper{
	position: absolute;
	width: auto;
	height: 150px;
	z-index: 3;
	margin-left: -112.5px;
	left: 50%;
	margin-top: 300px;
	animation-name: start-button-animation;
  animation-duration: 4s;
  opacity: 1;
}

.start-titles{
	font-family: "PT Sans";
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

.start-button{
	font-family: "PT Sans";
	font-size: 80px;
	color: #000;
	border-radius: 5px;
	text-transform: uppercase;
	animation-duration: 2s;
}

@keyframes start-button-animation{
	0%{
		opacity:0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}